[submodule "external/livekit-protocol"]
	path = external/livekit-protocol
	url = https://github.com/livekit/protocol.git
[submodule "external/protocol"]
	path = external/protocol
	url = git@github.com:mazupo/protocol.git
