*.o
*.tmp
*.jpg
*.mp4
*.a

# cmake
CMakeFiles
CMakeCache.txt
*.cmake
Makefile

# folder
build
proto
models

!/docs/*.jpg

# generated protobuf bindings
*_pb2.py
__pycache__

# local config files
config/*.local.yml
